{% extends "layout.html" %}

{% block title %}
    Class Details
{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/studentreg.css" rel="stylesheet">
	</head>
	<body>
		<div class="main-block">
			<form action="{{ url_for('guardians', regnum_id=regnum_id) }}" method="post">
				<fieldset>
					<legend>
						<h3>Guardian Details</h3>
					</legend>
					<hr>
					<div  class="personal-details">
						<div class="col-md-12">
							<div><label>Name<span class="required">*</span></label><input class="form-control" autocomplete="off" autofocus type="text" name="g_name"required></div>
							<div><label>Address<span class="required">*</span></label><input class="form-control" autocomplete="off" type="text" name="g_address"required></div>
							<div><label>Email<span class="required">*</span></label><input class="form-control" autocomplete="off" type="email" name="g_email" required></div>
							<div><label>Phone Number<span class="required">*</span></label><input class="form-control" autocomplete="off" type="tel" name="g_phone" placeholder="+2348046293093" required></div>
							<!--  pattern="[+]{1}[0-9]{3}[0-9]" -->
						</div>
					</div>
				</fieldset>
				<div class="col-12">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</body>
	</html>
{% endblock %}
