{% extends "layout.html" %}

{% block style %}
<link href="/static/css/tablestyles.css" rel="stylesheet">
{% endblock %}

{% block title %}
Student Profile
{% endblock %}

{% block main %}
<table>
    <tr>
        <td colspan="2" rowspan="2">
            {% if imgfile %}
            <img src="{{ url_for('static', filename=imgfile) }}" class="rounded" width="150" height="150">
            {% endif %}
        </td>
        <th>Registration Number:</th>
        <td style="width:24%">{{ studentdocument[0] }}</td>
        <th>Surname:</th>
        <td style="width:24%">{{ studentdocument[1] }}</td>
    </tr>
    <tr>
        <th>Othername:</th>
        <td>{{ studentdocument[2] }}</td>
        <th>Admission Date:</th>
        <td>{{ studentdocument[8] }}</td>
    </tr>
    <tr>
        <th>Entry Class:</th>
        <td style="width:8%">{{ entryclass[0] }}</td>
        <th>Current Class:</th>
        <td>{{ currentclass[0] }}</td>
        <th>Date of Birth:</th>
        <td>{{ studentdocument[4] }}</td>
    </tr>
    <tr>
        <th>Gender:</th>
        <td>{{ studentdocument[3] }}</td>
        <th>Nationality:</th>
        <td>{{ studentdocument[6] }}</td>
        <th>State of Origin:</th>
        <td>{{ studentdocument[5] }}</td>
    </tr>
    <tr>
        <th>Religion:</th>
        <td>{{ studentdocument[7] }}</td>
        <th>Guardian Name:</th>
        <td>{{ guardian[2] }}</td>
        <th>Guardian Phone:</th>
        <td>{{ guardian[5] }}</td>
    </tr>
    <tr>
        <th>Guardian Adress:</th>
        <td colspan="3">{{ guardian[3] }}</td>
        <th>Guardian Email:</th>
        <td>{{ guardian[4] }}</td>
    </tr>
    <tr>
        <th>Studentship Status:</th>
        <td>{{ studentdocument[11] }}</td>
        <th>Date of Tranfer/Graduation:</th>
        <td>{{ studentdocument[12] }}</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
    </tr>
</table>

{% endblock %}